.card-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #000000;
    text-align: left;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.241), 0 6px 20px 0 rgba(0, 0, 0, 0.241);
    padding: 10px;
}
/* .CardBody{
    display: none;
} */